
<div class="container-fluid">
    <h2 class="text-center">Create a new quot</h2>
    <hr>
    <form  (ngSubmit)='submitQuotes()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="genre">enter the quote genre</label>
            <input type="text" required class="form-control" id="genre" [(ngModel)]="newquotes.genre" name="genre" #genre = 'ngModel'required>
            <div [hidden]="genre.valid || genre.pristine" class="alert alert-danger">
                <p>genre is required</p>
              </div>
    
        </div>
        <div class="form-group">
  
            <label for="details">input the quote</label>
            <textarea class="form-control" id="body" rows="4" [(ngModel)]="newquotes.body" name="body" #body = 'ngModel' required></textarea>
            <div [hidden]=" body.valid || body.pristine" class="alert alert-danger">
                <p>quote is required</p>
            </div>

        </div>
        <div class="form-group">
  
            <label for="author">who is the author</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newquotes.author" name="author" #author = 'ngModel' required >
            <div [hidden]=" author.valid || author.pristine" class="alert alert-danger" >
                <p>author is required</p>
            </div>

        </div>
        <div class="form-group">
            <label for="inputdate">date quote was inputted</label>
            <input type='date' id="datepublished" [(ngModel)]="newquotes.datepublished" name="datepublished" #datepublished = 'ngModel' required >
            <div [hidden]=" datepublished.valid || datepublished.pristine" class="alert alert-danger" >
                <p>author is required</p>
            </div>
        </div>

            <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>
