<p><i>-{{quote.author}}</i></p>
<p>{{noOflike}}</p>

<div class="row mt-5">
    <button type="button" class="btn btn-danger col-sm-3" (click)= 'delete(true)' ><fa-icon [icon]="faCoffee"></fa-icon></button>

    <!-- <div class="col-sm-1 danger"> -->
        <button type="button" (click)="Like()" class="btn btn-light"><fa-icon [icon]="faThumbsDown" class="text-danger col-sm-3" ></fa-icon></button>
    <!-- </div> -->
    <!-- <div class="col-sm danger"> -->
        <button type="button" (click)="Dislike()" class="btn btn-light"><fa-icon [icon]="faThumbsUp" class="text-success col-sm-3" ></fa-icon></button>
  
    <!-- </div> -->
</div>
